.popup__button_close {
  background-image: url('../../../../images/popup/close-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 40.7px;
  height: 40.7px;
  position: absolute;
  top: -30.7px;
  right: -30.7px;
}

@media screen and (max-width: 500px) {
  .popup__button_close {
    width: 35px;
    height: 35px;
    top: -25px;
    right: -25px;
  }
}
