.popup__input-item {
  width: 100%;
  height: 27px;
  margin: 0 0 29px;
  padding-bottom: 13px;
  font-size: 0.875rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input-item:last-of-type {
  margin-bottom: 0;
}
