.popup__button_submit {
  width: 358px;
  height: 52.15px;
  display: block;
  margin: 0 auto;
  background-color: #000;
  border-radius: 2px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: normal;
}

@media screen and (max-width: 500px) {
  .popup__button_submit {
    width: 83%;
  }
}
