@import url('__button/popup__button.css');
@import url('__button/_close/popup__button_close.css');
@import url('__container/popup__container.css');
@import url('__container/_type/popup__container_type_delete.css');
@import url('__container/_type/popup__container_type_avatar.css');
@import url('__heading/popup__heading.css');
@import url('__input-container/popup__input-container.css');
@import url('__field/popup__field.css');
@import url('__input/popup__input.css');
@import url('__input/_type/popup__input_type_error.css');
@import url('__input-error/popup__input-error.css');
@import url('__input-error/_active/popup__input-error_active.css');
@import url('__button/_submit/popup__button_submit.css');
@import url('__button/_submit/_loading/popup__button_submit_loading.css');

.popup {
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: visibility .7s ease-out, z-index 1s ease-out, opacity .7s ease-out;
  -moz-transition: visibility .7s ease-out, z-index 1s ease-out, opacity .7s ease-out;
}

